{
  email {$ADMIN_EMAIL}
}

{$YUNO_DOMAIN} {
  encode gzip zstd

  handle_path /api/* {
    reverse_proxy api:8000
  }

  handle /auth/* {
    reverse_proxy api:8000
  }

  handle {
    reverse_proxy dashboard:80
  }
}
